/* ======================== Basics ===================== */
a {
  text-decoration: none;
}
.css-badge {
  background-color: #97DBAE;
}
.html-badge {
  background-color: #139487;
}
.skills-card {
  width: 23rem;
  margin: auto;
}
.skillList {
  list-style: none;
}
/* ======================== Main ===================== */
.hero-section {
  margin-bottom: 30px;
}
.blue {
  /* background-color: lightblue;  */
}

.red {
  /* background-color: lightcoral; */
  min-height: 70vh;
}
.header-title {
  font-size: 4rem;
}
.projects {
  min-height: 90vh;
  margin-top: 30px;
  background-color: lightsteelblue;
}
.projects-header {
  text-decoration: underline wavy darkblue;
}
.hero {
  height: 70vh;
}

.skills-section {
  width: 90vw;
  margin: auto;
}
footer {
  background: rgb(119, 150, 190);
  display: grid;
  place-items: center;
  min-height: 7vh;
}
.footer-text {
  font-size: 15px;
  color:white;
}
/* =============================================== */
@media (max-width: 460px) {
  .header-title {
    text-align: center;
    font-size: 2.5rem;
  }
  .header-text {
    text-align: center;
    margin: auto;
  }
  .hero {
    height: auto;
    margin: 13px 0px;
  }
  .hero-section {
    margin-bottom: 20px;
  }
  .projects-header {
      text-decoration: underline wavy darkblue 1.8px;
    }
    .skills-card {
        width: 19rem;
        margin: auto;
    }
}
@media (max-width: 440px) {
  .header-title {
    font-size: 2rem;
  }
  .header-text {
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
  }
    .hero {
    height: auto;
    margin: 0px 0px;
  }
  .hero-section {
    margin-bottom: 0px;
  }
  .footer-text {
    font-size: 13px;
  }
}
/*
@media (max-width: 385px) {
  .header-title {
    font-size: 2.5rem;
  }
  .header-text {
    text-align: center;
    margin: auto;
  }
  .hero-section {
    margin: 10px 0px;
  }
  .hero {
    height: auto;
    margin: 13px 0px;
  }
  .footer-text {
    font-size: 11px;
  }
}
 */
